@model IEnumerable<Mensajes_Relevantes.Models.Contact>

@{
    ViewData["Title"] = "Contacts";
}

<p>Conecting: @ViewBag.sessionv</p>
<h1 class="title1">Contact</h1>

    <table class="table">
        <thead>
            <tr>
                <th title="Nick Name"> Nick Name
                    @Html.DisplayNameFor(model => model.Nick_Name)
                </th>
                <th title="Add Contact">Add Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td title="Nick Name">
                        @Html.DisplayFor(modelItem => item.Nick_Name)
                    </td>
                    <td title="Add Contact">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
