@model IEnumerable<Mensajes_Relevantes.Models.Contact>

@{
    ViewData["Title"] = "ToSend";
}

<p>Conecting: @ViewBag.sessionv</p>

<h1 class="title1">Send Message To...</h1>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nick_Name)
            </th>
        </tr>
    </thead>
    @if (Model.Count() > 0)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nick_Name)
                </td>
                <td>
                    <u>
                        @Html.ActionLink("Send", "ToSend", item)
                    </u>
                </td>
                <td>
                    <u>
                        @Html.ActionLink("View history complete", "Get_History", item)
                    </u>
                </td>
            </tr>
        }
    }
    @if (Model.Count() == 0)
    {
        <div class="form-group">
            <input type="button" value="Contacts" onclick="location.href='@Url.Action("Contact", "User")'" class="MessageButton" />
        </div>
    }
</table>

<div class="form-group">
    <input type="button" value="Menu" onclick="location.href='@Url.Action("Menu", "User")'" class="MessageButton" />
</div>